<%= form_for([@article, @article.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :commenter %>
    <%= f.text_area :commenter, class: "text_field_commenter"%>
    <%= f.hidden_field :user_id, value: @user.id %>
  </p>
  <p>
    <%= link_to "Create comment",  "#", class: "button_create_comment", :create_comment_path => article_comments_path(@article, @comment) %>
  </p>
<% end %>
