        <div class="h">
<%= form_for @article, remote: true do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h4>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div id="articles_form">
    <p>
      <%= f.hidden_field :id, value: @article.id %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "text_field" %>
    </p>
    
    <p>
      <%= f.label :text %>
      <%= f.text_area :text, class: "text_field" %>
    </p>
<!--     <p>
      <%= f.label :user_id, "User" %>
      <%= f.select :user_id, User.all.map{|u| [u.name, u.id]}, class: "select" %> 
    </p> -->
    <p>
      <%= link_to "save",  "#", class: "save_article" %>
    </p>
  </div>
<% end %>
</div>