<% if user_signed_in? %>
  <div class="span2">  
    <%= link_to 'New article', new_article_path, id: "link_to_create_a", remote: true %>
  </div>
  <div class="span10">
    <h3>Listing Articles</h3>
    <table id="article_table" class="table table-bordered table-condensed table-striped">
        <tr>
          <th style="width: 11%">Title</th>
          <th style="width: 11%">Text</th>
          <th style="width: 9%">User</th>
          <th style="width: 12%">Articles tags</th>
          <th style="width: 7%">Show</th>
          <th style="width: 6%">Edit</th>
          <th style="width: 7%">Destroy</th>
        </tr>
        <% @articles.each do |article| %> 
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= article.user.try(&:name) %></td>
          <td><%= tag_from_article (article.tags.to_a) %></td>
          <td><%= link_to 'Show', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article), remote: true, class: 'editarticle_table' %></td>
          <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_article' %></td>
        </tr>
      <% end %>
      </table>
  </div>
    <div class="edit_article"></div>
    <div class="new_article"></div>
    <div class="pagination pagination-centered">
      <ul>
        <li class="active"><span><%= will_paginate @articles %></span></li>
      </ul>
    </div>

<% else %>
  <div class="span2">
    <p class="sign_out">New article</p>
  </div>
  <div class="span10">
    <h3>Listing Articles</h3>
    <table id="article_table" class="table table-bordered table-condensed table-striped">
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th>User</th>
          <th>Articles tags</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
        <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td> 
          <td><%= article.user.try(&:username) %></td>
          <td><%= tag_from_article (article.tags.to_a) %></td>
          <td><%= link_to 'Show', article_path(article) %></td>
          <td><p class="sign_out">Edit</p></td>
          <td><p class="sign_out">Destroy</p></td>
        </tr>
      <% end %>
      </table>
  </div>
    <div class="pagination pagination-centered">
      <ul>
        <li class="active"><span><%= will_paginate @articles %></span></li>
      </ul>
    </div>
<% end %>