<div class="span12" id="title_center">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
    <strong>Text:</strong><br>
    <%= @article.text %>
  </p>
</div>

<div class="span10" id="by">
  <% if @article.user == nil %>
    <p><b>Author of this article has been deleted</b></p><br>
  <% else %>
    <p>by <b> <%= link_to (@article.user.try(&:name)), user_path(@user) %></b></p><br>
  <% end %>
</div>

<div class="span10">
  <% if @article.comments.any? %>
    <h4>Comments</h4>
    <%= render @article.comments %><br>
  <% end %>
</div>

<div class="span10" id="new_comment">
</div>

<div class="span10" id="add_comment">
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %><br>
  <%= link_to 'Back', articles_path %>
</div>
