<div class="span12" id="title_center">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
    <strong>Text:</strong><br>
    <%= @article.text %>
  </p>
</div>

<div class="span10" id="by">
  <p>by <b><%= @article.user.try(&:name) %> </b><%= link_to 'Show', user_path(@user) %></p><br>
</div>

<div class="span10">
  <% if @article.comments.any? %>
    <h4>Comments</h4>
    <%= render @article.comments %>
  <% end %>
</div>

<div class="span10">
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
</div>
<div class="span8">
  <%= link_to 'Back', articles_path %>
</div>
