<div class="span12" id="title_center">
  <strong>Title:</strong>
  <%= @article.title %><br>
  <strong>Text:</strong>
  <%= @article.text %><br>
</div>

<div class="span12" id="by">
  <div class="span4" id="rating" data-score= <%= @avg_raiting %> ><b>Rate of this article  </b></div>
  <div class="span6">
    <% if @article.user == nil %>
      <p><b>Author of this article has been deleted</b></p><br>
    <% else %>
       <p>by <b> <%= link_to (@article.user.try(&:name)), user_path(@user) %></b></p><br>
    <% end %>
  </div>
</div>

<div class="span12" id="create_raiting">
  <p><%= render 'raitings/form' %></p>
</div>

<p>
<!--   link_to "Comments", "#", id: "comments_link"  -->
</p>

<div class="span12" id="comment_section">
  <div class="span10">
    <% if @article.comments.any? %>
      <h4>Comments</h4>
      <%= render @article.comments %><br>
    <% end %>
  </div>

  <div class="span10" id="new_comment">
  </div>

  <div class="span10" id="add_comment">
    <h4>Add a comment:</h4>
    <%= render 'comments/form' %><br>

  </div>
</div>

<%= link_to 'Back', articles_path %>