<p>
  <strong>Owner:</strong>
  <%= @article.user.try(&:name) %> <%= link_to 'Show', user_path(@user) %><br>
</p><br>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p><br>

<h4>Comments</h4>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>

