  <table id="user_table", class="table table-bordered table-condensed table-striped">
    <tr>
      <th style="width: 17%">Ava</th>
      <th style="width: 8%">Name</th>
      <th style="width: 10%">Email</th>
      <th style="width: 11%">Users articles</th>
      <th style="width: 11%">Users tags</th>
      <th style="width: 8%">Show</th>
      <th style="width: 10%">Send email</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.avatar.url(:display) %></td>
      <td><%= user.name %></td>
      <td><%= user.email %> </td>
      <td><%= user.articles.map(&:title).join(', ') %></td>
      <td><%= user.tags.map(&:name).join(', ') %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Send email', { controller: "users", action: "email", id: user.id }, method: "get", remote: true, data: { confirm: 'You really want to send email?' } %></td>
    </tr>
  <% end %>
  </table>

  <div class="pagination pagination-centered" id="pagination_user">
    <ul>
      <li class="active"><span><%= will_paginate @users %></span></li>
    </ul>
  </div>