<div class="span12">
  <h3 class="title">Listing Users</h3>
  <table id="user_table", class="table table-bordered table-condensed table-striped">
    <tr>
      <th style="width: 17%">Ava</th>
      <th style="width: 8%">Name</th>
      <th style="width: 10%">Email</th>
      <th style="width: 11%">Users articles</th>
      <th style="width: 11%">Users tags</th>
      <th style="width: 8%">Show</th>
      <th style="width: 10%">Send email</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.avatar.url(:display) %></td>
      <td><%= user.name %></td>
      <td><%= user.email %> </td>
      <td><%= article_from_user(user.articles.to_a) %></td>
      <td><%= user.tags.map(&:name).join(', ') %></td>
       <td><%= link_to 'Show', user_path(user) %></td>
<!--       <td><%= link_to 'Edit', edit_user_path(user), remote: true, class: 'edit_user' %></td>
      <td><%= link_to 'Destroy', user_path(user), data: { confirm: 'Are you sure?' }, method: :delete, remote: true, class: 'delete_user' %></td> --> 
      <td><% if user_signed_in? %>
            <%= link_to 'Send email', { controller: "users", action: "email", id: user.id }, method: "get", remote: true, data: { confirm: 'You really want to send email?' } %>
          <% else %>
            <p class="sign_out">Send email</p>
          <% end %></td>
    </tr>
  <% end %>
  </table><br>
</div>
<div id="new_user"></div>
<div id="error_message"></div>

  <div class="pagination pagination-centered" id="pagination_user">
    <ul>
      <li class="active"><span><%= will_paginate @users %></span></li>
    </ul>
  </div>
