<div class="span2">
  <%= link_to 'New user', new_user_path, id: "new_link", remote: true  %>
</div>

<div class="span10">
  <h3>Listing Users</h3>  
  <table id="table", class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Users articles</th>
      <th>Users tags</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Email</th>
    </tr>
  <% @users.each do |user| %>
    <tr> 
      <td><%= user.name %></td>
      <td><%= user.email %> </td>
      <td><%= article_from_user(user.articles.to_a) %></td>
      <td><%= user.tags.map(&:name).join(', ') %></td>
      <td><%= link_to 'Show', user_path(user), remote: true %></td>
      <td><%= link_to 'Edit', edit_user_path(user), remote: true, :class=>'edit_user' %></td>
      <td><%= link_to 'Destroy', user_path(user), :confirm => 'Are you sure?', :method => :delete, :remote=>true, :class=>'delete_user' %></td>
      <td><%= link_to 'Send email',{:controller => "users", :action => "email", :id => user.id }, :method => "get", remote: :true,  data: { confirm: 'You really want to send email?' } %></td>
    </tr>
  <% end %>
  </table>
</div>
