<p><%= image_tag @user.avatar.url(:display) %></p>
<p class="name">User's name: <%= @user.name %><br>
    User's email: <%= @user.email %></p><br>
<p class="name">User has <%= @user.articles.count %> articles and <%= @user.tags.count %> tags</p>
<% if @user.articles.any? %>
  <p class="name">User's articles:<br>
  <% @articles.each do |article| %>
  <ol>
    <b><%= article.title %></b>
     (posted <%= time_ago_in_words(article.created_at) %> ago)
    <%= link_to 'Show', article_path(article) %><br>
  </ol>
  <% end %>
<% end %><br>
</p>
<%= link_to 'Back', users_path %>