<p><%= image_tag @user.avatar.url(:display) %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <% if @user.articles.any? %>
      <h3>Articles (<%= @user.articles.count %>)</h3>
      <ol class="microposts">
        <%= render @articles %>
      </ol>
      <%= will_paginate @articles %>
    <% end %>

<%= link_to 'Edit', edit_user_path %>

<%= link_to 'Back', users_path %>