<div class="center hero-unit">
<h2>Welcome to "TASK"</h2>
<h4>To sign in push this button</h4>
<button class="button"><%= link_to "BUTTON", new_user_path %></button>

<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
</div>