<% if user_signed_in? %>
<div class="span2">
  <%= link_to 'New tag', tags_path, id: "new_link" %><br> 
  <%= link_to 'New article', articles_path, id: "new_linka" %><br><br>
  <%= link_to 'Edit your profile',  edit_user_registration_path  %><br>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br>
  <%= link_to 'Destroy account', root_path, confirm: 'Are you sure?',  class: 'delete_use' %>
</div>

<h3>name: <%= current_user.username %></h3>
<h3>email: <%= current_user.email %></h3>
<% else %>
<p>If you want to see your home page you have to <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Log in', new_user_session_path %>.</p>
<% end %>



