<div class="span2">
<!--   <%= link_to 'New tag', tags_path, id: "new_link" %><br> 
  <%= link_to 'New article', articles_path, id: "new_linka" %><br><br> -->
  <%= link_to 'Edit your profile',  edit_user_registration_path  %><br>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br>
  <%= link_to 'Destroy account', user_registration_path, data: {confirm: 'Are you sure?'}, method: :delete %>
</div> 
<div class="span10">
  <div class="ava"><%= image_tag (current_user.avatar.url(:display)) %></div> 
  <h3 class="name"> name: <%= current_user.name %></h3><br>
  <h3 class="email"> email: <%= current_user.email %></h3>
  <br><br><br><br><br><br><br><br><br><br>
</div> 



