 <%= form_for @tag do |f| %> 
  <% if @tag.errors.any? %> 
  <div id="error_explanation"> 
    <h2><%= pluralize(@tag.errors.count, "error") %> prohibited
      this tag from being saved:</h2>
    <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :article_id, "Article" %><br>
    <%= f.select :article_id, Article.all.map{|a| [a.title, a.id]} %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>