 <%= form_for @tag do |f| %> 
  <% if @tag.errors.any? %> 
  <div id="error_explanation"> 
    <h2><%= pluralize(@tag.errors.count, "error") %> prohibited
      this tag from being saved:</h2>
    <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :article_id, "User" %><br>
    <% ar_array = Article.all.map { |ar| [ar.title, ar.id] } %>
    <%= options_for_select(ar_array) %>
    <%= f.select(:article, :article_id, ar_array, {}, {:multiple => true, :size => 10}) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>