 <%= form_for @tag do |f| %> 
  <% if @tag.errors.any? %> 
  <div id="error_explanation"> 
    <h2><%= pluralize(@tag.errors.count, "error") %> prohibited
      this tag from being saved:</h2>
    <ul>
    <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p> 
    <%= f.label :article_id, "Articles" %><br>
    <%= options_from_collection_for_select(Article.all, :id, :title) %>
    <%= collection_select(:article, :article_id, Article.all, :id, :title, {}, {:multiple => true}) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>